// Sizes

$minWidth: 375px;
$maxWidth: 1440px;

// Colors

$clr-primary-100: hsl(256, 26%, 20%);
$clr-primary-200: hsl(216, 30%, 68%);

$clr-neutral-100: hsl(270, 9%, 17%);
$clr-neutral-200: hsl(273, 4%, 51%);
$clr-neutral-300: hsl(0, 0%, 98%);
$clr-neutral-400: hsl(0, 0%, 100%);
$clr-neutral-500: hsl(278, 11%, 81%);

// Font Size

$fs-100: 1rem;

// Font Familys

$ff-100: "DM Serif Display", serif;
$ff-200: "Karla", sans-serif;

// Font Weights

$fw-100: 400;
$fw-200: 700;
